
  <div class="inner_header"><b>Add movie</b></div>
  <div>
    <form accept-charset="UTF-8" action="/movies" data-remote="true" method="post">
      <label><b>Name:</b></label>
      <input type="text" name="movie[name]" value="<%=@name%>"/><br>
      <label><b>Rating:</b></label>
      <select name="movie[rat]">
        <option value="-">-</option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="NC-17">NC-17</option>
      </select><br>
      <label><b>Release:</b></label>
      <input type="date" name="movie[re]" value="<%=@re%>"/><br>
      <label><b>Genre:</b></label>
      <input type="text" name="movie[gen]" value="<%=@gen%>"/><br>
      <label><b>Length:</b></label>
      <input type="text" name="movie[len]" value="<%=@len%>"/><br>
      <div class="des_div" style="border: 0px; padding: 0px; margin-bottom: 5px;">
        <label><b>Descriptions:</b></label>
        <textarea id="des" name="movie[des]" rows="7" cols="100"><%=@des%></textarea><br>
      </div>
      <a class="btn_link" style="background-color:rgb(255, 176, 148)" href=<%=root_path%> >Cancel</a>
      <input type="submit" value="Submit" style="margin:0px; background-color:rgb(145, 255, 145);"/>
    </form>
  </div>


<%= stylesheet_link_tag "form" %>