<table>
    <tr>
      <th>Row</th>
      <th>Name</th>
      <th>Rating</th> 
      <th>Release</th>
      <th>Genre</th> 
      <th>Length</th> 
      <th>Review Count</th>
      <th>Avg Score</th>
    </tr>
    <% @movies.each_with_index do |movie, i| %>
    <tr>
      <td><%= i+1 %></td>
      
      <td><a class="mov_link" href="<%= movie_path(movie) %>"><%= movie.name %></a></td>
      <td><%= movie.rat %></td>
      <td><%= movie.re %></td>
      <td><%= movie.gen %></td>
      <td><%= movie.len %></td>
      <td><%= movie.reviews.length %></td>
      <td><%= movie.avg_score %></td>
    </tr>
    <% end %>

</table>